.navbar{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    
}

.container-fluid{
    padding: 2px;
}

.navbar-brand{
    font-weight: 500;
}

.nav-item{
    padding: 0px 16px;
}

.collapse{
    justify-content: right;
}
.container{
    margin: 0;
}



body{
    margin: 0px;
   }
  


